body{
	align-content: center;
	text-align: center;
}

#container{
	
	width: 25%;
	background-color: antiquewhite;
	margin: 0 auto;
	border: 1rem solid blue;
	margin-top: 5rem;
	border-radius: 1rem;
	padding: 2rem;
	box-shadow: 10px 10px 10px black;
}

#numInput{
	
	background-color: orange;
	color: white;
	font-weight: bold;
	font-size: 2rem;
	padding: 5px 15px;
	width: 70%;
	margin: 20px auto;
	display: block;
	border-radius: 10px;
	height: 3rem;
}

button{
	
	background-color: orange;
	display: inline-block;
	font-family: sans-serif;
	font-size: 2rem;
	height: 4rem;
	width: 23%;
	margin: 2%;
	padding: 0;
	
}

button:hover{
	box-shadow: 0 0 1rem blue inset;
}